# packages
node_modules
.turbo
.vercel
.vscode/settings.json
storybook-static
build
dist
cjs
esm
coverage
test-reports
*.tsbuildinfo
vite.config.*.timestamp-*
telemetry.json
bitbucket-report.json
bitbucket-annotations.json

# environment
.env*
.flaskenv*
*.secrets
!.env.*
.env.keys

# yarn
.pnp.*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!**/.yarn/sdks
!**/.yarn/sdks/**/dist
!.yarn/versions

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Temp
.temp
.tmp
temp
tmp
