.storybook-button {
  display: inline-block;
  border: 0;
  border-radius: 3em;
  font-weight: 700;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1;
  cursor: pointer;

  &--primary {
    background-color: #555ab9;
    color: white;

    &:focus {
      border: 2px white solid;
      outline: #6970e4 solid 3px;
    }

    &:hover {
      background-color: #6970e4;
    }

    &:active {
      background-color: #3036b2;
    }
  }

  &--secondary {
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 15%) 0 0 0 1px inset;
    color: #333;
  }

  &--small {
    padding: 10px 16px;
    font-size: 12px;
  }

  &--medium {
    padding: 11px 20px;
    font-size: 14px;
  }

  &--large {
    padding: 12px 24px;
    font-size: 16px;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
