@use 'variables' as *;

.circle {
  position: relative;
  width: $default-size;
  aspect-ratio: 1;
  border-radius: 50%;

  > .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:empty,
  &:has(> :not(.sector):only-child) {
    background: rgb(109 109 109 / 92.5%);
  }
}
