.storybook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  svg {
    display: inline-block;
    vertical-align: top;
  }

  h1 {
    display: inline-block;
    vertical-align: top;
    margin: 6px 0 6px 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
  }

  button + button {
    margin-left: 10px;
  }

  .welcome {
    margin-right: 10px;
    color: #333;
    font-size: 14px;
  }
}
